<div class="jumbotron">
  <h1 class="display-4">Picksong</h1>
  <p class="lead">歡迎來到詩歌網站平台</p>
  <hr class="my-4">
  <p>歡迎大家集思廣益分享所知道的詩歌</p>
  <p class="lead">
    <a class="btn btn-primary btn-lg" href="#" role="button">歡迎使用</a>
  </p>
</div>
